In [ ]:
import pandas as  pd
import seaborn as sns
import matplotlib as plt
df=pd.read_csv('boat_data.csv')
df.dropna()

In [25]:
# df.corr()
# Price conversion --> to EUR
# 1 CHF (Schweize Franken) = 1,02 EUR
# 1 Â£ = 1.15 EUR
# 1 DKK (Dänische Krone)= 0.13 EUR

# Split Currency and Amount from each other
df['Currency']=df['Price'].str[:3]
df['Amount']=df['Price'].str[4:10].str.strip().astype(int)
# Convert to EUR
cur_dict={
    'CHF':1.02,'Â£':1.15, 'DKK':0.13,'EUR':1
}
df.replace({'Currency':cur_dict},inplace=True)
df['Price_EUR']=df['Currency']*df['Amount']
df.head()

,Year Built,Length,Width,Number of views last 7 days,Amount
Year Built,1.000000,0.117290,0.127150,0.024808,0.070074
Length,0.117290,1.000000,0.873093,-0.135011,0.578682
Width,0.127150,0.873093,1.000000,-0.157547,0.587872
Number of views last 7 days,0.024808,-0.135011,-0.157547,1.000000,-0.143155
Amount,0.070074,0.578682,0.587872,-0.143155,1.000000

In [ ]:
# Categorize Prices